node_modules/
dist/
*.log
.env
.DS_Store
coverage/
*.tsbuildinfo
.tmp

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
*.egg
.venv/
venv/

# Java
target/
*.class

# Misc
*.bak
*.swp
*.swo
